/* used with flows.html to override part of cards.css
maybe should be merged with table.css*/
.card {
	background-color: white;
	margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

	border-radius: 5px;
	font-size: 14px;
  overflow-x: scroll;
}
