form {
  padding: 0px 10px;
}

.formcontrol {
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

input {
  width: 175px;
}

input[type="checkbox"] {
  width: 15px;
}

input[type="radio"] {
  margin-left: 0;
  width: 15px;
}

ul.operation {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  margin-top: 0;
}

/*ul.operation li {
  display: block;
  margin-left: 0;
}*/

tr input[type="button"] {
  width: 25px;
  font-weight: bold;
}

th {
  font-weight: normal;
}

label {
  width: 120px;
  height: 25px;
  display: inline-block;
  vertical-align: baseline;
}

input[type="radio"]+label {
  width: 180px;
  height: 20px;
}

input[type="checkbox"]+label {
  width: 180px;
  height: 20px;
  display: inline-block;
}

.fieldset {
  width: 420px;
  padding: 0 0 0 10px;
  margin-bottom: 15px;
  border-color: var(--scolor-3);
  border-width: 0 0 0 3px;
  border-style: solid;
  border-radius: 6px;
}

h1 {
  color: var(--scolor-4);
  font-size: 16px;
}

.flowentry td {
  border: 1px solid black;
  width: 100px;
  text-align: center;
}

.form {
  display: block;
  float: left;
  min-width: 500px;
}

caption {
  display: table-caption;
  text-align: left;
}

/****************************************************************************/
/*                           Buttons                                        */
/****************************************************************************/

input[type=submit], input[type=reset] {
  background-color: var(--scolor-3);
  border: none;
  color: var(--white);
  padding: 8px;
  text-decoration: none;
  margin: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

select {
  background-color: var(--white);
  cursor: pointer;
  width: 179px;
  height: 24px;
}

input[type=submit]:hover, input[type=reset]:hover {
  background-color: var(--scolor-0);
}

input[type=button] {
  background-color: var(--scolor-3);
  color: var(--white); 
  border: solid 2px var(--scolor-3);
  cursor: pointer;
}

input[type=button]:hover {
  background-color: var(--scolor-0);

}

select option {
  color: var(--white);  
}

select option:hover {
  background-color: var(--scolor-0);
}

/****************************************************************************/
/*                            Snack Bar                                     */
/****************************************************************************/

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
   However, delay the fade out process for 2.5 seconds */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
