
/** New frames **/
.tableframe {
	background-color: white;
    width: 1100px; /*needs to be fixed*/
    font-size: 14px;
    margin: 0px 10px 20px 10px;
}

.tableframe .container{
    padding: 8px 16px;
    height: auto;
    overflow: auto;
}

.tableframe .header {
    border-style: solid;
    border-color: var(--scolor-3);
    border-width: 2px 0 2px 0;
    padding: 0px 16px;
}

.tableframe .header h1 {
    display: inline-block;
    width: 500px;
}

.tableframe .header .collapse {
    float: right;
    padding: 5px 15px;
    margin: 5px 0px 5px 5px;
	background-color: white;
	border: none;
	color: var(--tcolor-4);
	cursor: pointer;
	border-radius: 4px;
    /*font-weight: bold;*/
    width: 50px;
}

.tableframe .hiddenrow {
    display: none;
}

.header .alert {
    color: red;
}

/************ Dropdown menu for tables *********/
/*.tableframe .header */
.dropdown {
    float: right;
    position: relative;
}

.dropdown button {
	padding: 5px 15px;
    margin: 5px 0px;
	background-color: var(--tcolor-2);
	border: none;
	color: var(--tcolor-4);
	cursor: pointer;
	border-radius: 4px;
    /*font-weight: bold;*/
    width: 80px;
}

.dropdown button:hover {
    background-color: var(--tcolor-0);
    color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
	background-color: var(--tcolor-2);
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--tcolor-4);
    padding: 5px 15px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--tcolor-0);
    border-radius: 4px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/*.show {display:block;}*/


/* .collapseble {
	display: none;
}  */