@import "colors.css";

.menuitem {
  width: 100%; /* Set a width if you like */
}

.menuitem a {
  background-color: var(--tcolor-1);
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  border-radius: 5px;
  margin-top: 5px;
  color: var(--tcolor-3);

  font-size: 16px;
}

.menuitem a:nth-of-type(1) {
  margin-top: 0px;
}

.menuitem a:hover {
  background-color: var(--tcolor-4);
  color: var(--white);
}

.menuitem a.active {
  background-color: var(--tcolor-3);
  color: var(--white);
}

.logowrapper {
  font: normal 11px Verdana, Arial, Helvetica, sans-serif;
  position: fixed;
  bottom: 0;
  /*width: 100%;*/
	z-index: 1;
}

.logowrapper img {
	margin: 0px 0px 10px 15px;
}

.logowrapper p {
	margin: 0px 0px -10px 10px;
	transform: rotate(90deg);
	transform-origin: left top 0;
}
