
/* New tabs */

.tab-list {
    list-style: none;
    overflow: hidden;
    margin: 2px 0px 0px 10px;
    padding-left: 10px;
    border-bottom: 2px solid var(--tcolor-3);
}

.tab-control {
    /*border: none;
    outline: none;*/
    cursor: pointer;
    padding: 12px;
    font-size: 16px;
    margin: 0px 2px 0px 2px;
    color: var(--tcolor-4);
    display: inline-block;
    background-color: var(--tcolor-2);
    border-radius: 7px 7px 0 0;
    min-width: 100px;
    text-align: center;
}

.tab-control:hover {
    background-color: var(--tcolor-0);
    color: white;
}

.tab-control.active {
    background-color: var(--tcolor-3);
    color: white;
}

.tab-panel {
    display: none;
    margin-left: 10px;
    overflow: hidden;
    padding-top: 10px; 

}

.tab-panel.active {
    display: inherit;
}