/*h1 {
    color: blue;
}
*/
form {
  padding: 10px;
  background-color: lightblue;
}


.hidden {
  display: none;
}

.blue {
  background: blue;
}

label {
  width: 120px;
  height: 25px;
  display: inline-block;
}
label.wide {
  width: 200px;
  height: 20px;
  display: inline-block;
}
/*
[type=text] {
  background-color: lightblue;
}

[list] {
  background-color: yellow;
}
*/

fieldset {
  width: 450px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.flowentry td {
  border: 1px solid black;
  width: 100px;
  text-align: center;
}
/* The container */
.container {
    display: none;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white /*#2196F3;*/
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
